beautifulsoup4==4.12.2
fastapi==0.105.0
fastembed==0.3.3
Markdown==3.5.1
numpy==1.26.2
pandas==1.5.3
pydantic==2.5.2
python-dotenv==1.0.0
qdrant_client==1.10.1
Requests==2.31.0
uvicorn==0.24.0.post1
aiofiles==24.1.0
